<nav class="navbar sticky-top navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <a class="navbar-brand" href="#">Tenancy Manager</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" routerLinkActive="active">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['is-active']"  (click)="closeMenu()">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/currentLeases']" [routerLinkActive]="['is-active']" (click)="closeMenu()">Current Leases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats']" [routerLinkActive]="['is-active']" (click)="closeMenu()">Stats</a>
      </li>
    </ul>
    <div class="col-4" style="padding-left: 0">
        <app-login [profile]="profile"></app-login>
    </div>
  </div>
</nav>