@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700,800|Raleway');

.container-fluid {
    margin-top: 1%;
}

.title {
    font: 900 30px Montserrat;
    font-weight: 800;
}


.section-separator {
    background-color: #6CB2EB;
}



.leaseThumbnail {
    margin: 0 2%;
    cursor: pointer;
}

.houseRow {
    margin-bottom: 1%;
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

.houseName {
    font-family: 'Montserrat', sans-serif;
    color: #fff;    
    text-transform: capitalize;
}



 #house1 {
    background-color: #1bc98e;
    
}

#house2 {
    background-color: #e64759;
}

#house3 {
    background-color:#f7c331;
}

@media (max-width: 575.98px) { 
    .houseRow {
        display: block;
    }

    .houseName {
        padding: 2%;
        font-size: 1.2rem;
    }

    .leaseThumbnail {
        width: 99vw;
        margin-top: 1%;

    }

    .odd {
        border: 2px dotted #f7c331 !important;   
    }
}

@media (min-width: 576px) { 
    .vertical-text {
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-weight: 600;
        padding: 2% 1%;
        width: 4vw;
        vertical-align: middle;
     }

     .leaseThumbnail {
         width: 20vw;
     }

     .houseName {
        font-size: 0.6rem;
    }

    .houseRow {
        height: 25vh;
    }
}