<div class="container-fluid">

    <p class="title mark">Current Leases</p>
    <hr class="separator">
    <div *ngFor="let house of houses; let i = index">
        <div class="houseRow">
            <div class="houseName vertical-text" id="house{{house.id}}" >{{house.name}}</div>
            <div  class="leaseThumbnail" *ngFor="let lease of getCurrentLeasesForHouse(house.name); let j = index">
                <app-lease-list-thumbnail [step]="setStep(j)"  [lease]="lease" [rowNumber]="i" [routerLink]="['/leases', lease.id]"></app-lease-list-thumbnail>
            </div>
        </div>
    </div>
</div>