<div class="container" [ngClass]="{oddRow: isRowOdd(), evenRow: !isRowOdd(), oddThumb: isThumbOdd(), evenThumb: !isThumbOdd()}">
    <div id="title">
        <h2 id="flatNumber">Flat {{lease.flat.number}}</h2>
        <p id="startDate">Started: 25th July 2016</p>
    </div>

    <hr>

    <div class="" id="tenantInfo">
        <div class="row" *ngFor="let tenant of lease.tenants">
            <span class="col-7" id="tenantName">{{tenant.firstName}} {{tenant.lastName}}</span>
            <span class="col-3" id="phoneNumber">{{tenant.phoneNumber}}</span>
        </div>
    </div>

    <hr>

    <div class="row" id="rentInfo">
        <h3 class="col-10">{{lease.rent | currency:'EUR'}}</h3>
    </div>
</div>