<div class="container-fluid">
    <div id="wrapper">
        <div class="row">
            <div id="icon-wrapper" class="col-md-5 col-xs-12">
                <img id="icon" src="/assets/apt-building3.png" alt="oops">
            </div>
            <div class="col-md-6 col-xs-12" id="text-wrapper">
                <div class="">
                    <p id="first" class="" >WELCOME</p>
                </div>
                <div class="">
                    <p id="second" class="">A platform to help you manage your rental properties.</p>
                </div>
                <div id="btn-wrapper">
                    <button id="login-btn" (click)="login()">LOG IN</button>
                </div>
            </div>
        </div>
        
    </div>
</div>


